@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&family=Varela&family=Varela+Round&display=swap');
body{
    font-family: 'Indie Flower', cursive;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background-color: var(--color, rgb(255,245,230) );
   
}

header{
    height:10vh;
    
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
    background-blend-mode: darken;
    background: linear-gradient(to right, #3498db, #e74c3c);
   
}
h1{
    margin: 0px 0px 0px 0px;
}
.container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction:column;
    align-items: center;
}
textarea{
    height:20vh;
    width:40%;
    border: 2px solid rgba(216, 140, 8, 0.37);
}

.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }
button{
    border-color:none; 
    border: none;
    
}
p{
    font-weight: bold;
}
footer{
    
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #3498db, #e74c3c);
   
}
.p{
    width: 60%;
    
}
h2{
    margin-bottom:5px
}